
			<div className="lists">
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<h1 className="news-h1"><a href="details.html">基督徒必看：万物复苏的春天，你的灵魂苏醒了吗？</a></h1>
			            <div className="time clearfix"><span>2016.04.11</span></div>
			            <div className="news-imga clearfix">
			            	<a href="details.html"><img src="img/index_07.png" alt="" /></a>
			            </div>
			    	</div> 
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<h1 className="news-h1"><a href="details.html">基督徒旅游之济州岛：独特的强兵台军队教会和水上</a></h1>
			    		<div className="time clearfix"><span>2016.04.11</span></div>
			    	</div>
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<h1 className="news-h1"><a href="details.html">基督徒旅游之济州岛（四）：独特的强兵台军队教会和水上“挪亚方舟”教会</a></h1>
			    		<div className="time clearfix"><span>2016.04.11</span></div>
			    	</div>
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<h1 className="news-h1"><a href="details.html">基督徒旅游之济州岛：独特的强兵台军队教会和水上</a></h1>
			    		<div className="time clearfix"><span>2016.04.11</span></div>
			    	</div>
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">新疆</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">福建</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">吉林</a></span></div>
			    		<h1 className="news-h1"><a href="details.html">云南保山福音自愿戒毒中心接待探访</a></h1>
			    		<div className="news-imgc clearfix">
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            </div>
			            <div className="time clearfix"><span>2016.04.11</span></div>
			    	</div>
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">湖北</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
	    		</article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">山东</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
				<article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">山西</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">云南省</a></span></div>
			    		<h1 className="news-h1"><a href="details.html">云南保山福音自愿戒毒中心接待探访</a></h1>
			    		<div className="news-imgc clearfix">
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            </div>
			            <div className="time clearfix"><span>2016.04.11</span></div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag site-tag clearfix"><span><a href="javascript:;">江苏</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">评论观点</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">教会思考</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">信徒成长</a></span></div>
			    		<h1 className="news-h1"><a href="details.html">云南保山福音自愿戒毒中心接待探访</a></h1>
			    		<div className="news-imgc clearfix">
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            </div>
			            <div className="time clearfix"><span>2016.04.11</span></div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">评论观点</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">社会关注</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">社会服务</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">教牧专栏</a></span></div>
			    		<h1 className="news-h1"><a href="details.html">云南保山福音自愿戒毒中心接待探访</a></h1>
			    		<div className="news-imgc clearfix">
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            	<a href="details.html"><img src="img/index_14.png" alt="" /></a>
			            </div>
			            <div className="time clearfix"><span>2016.04.11</span></div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="tag topic-tag clearfix"><span><a href="javascript:;">教牧专栏</a></span></div>
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			           </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			    <article className="clearfix">
			    	<div className="news-list clearfix">
			    		<div className="news-listb fl">
			    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
				    		<div className="time clearfix"><span>2016.04.11</span></div>
			    		</div>
			    		<div className="news-imgb fr">
			            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
			            </div>
			    	</div>
			    </article>
			</div>
