		<div className="comment comment-jc clearfix">
			<div className="com-h1 red-h clearfix">
				<i></i>
				<h1>精彩推荐</h1>
			</div>
			<article className="clearfix">
		    	<div className="news-list container clearfix">
		    		<h1 className="news-h1"><a href="details.html">基督徒旅游之济州岛（四）：独特的强兵台军队教会和水上“挪亚方舟”教会</a></h1>
		    		<div className="time clearfix"><span>2016.04.11</span></div>
		    	</div>
		    </article>
		    <article className="clearfix">
		    	<div className="news-list container clearfix">
		    		<div className="news-listb fl">
		    			<h1 className="news-h1"><a href="details.html">基督徒艺人梁文音教堂完婚 给老公打200分</a></h1>
			    		<div className="time clearfix"><span>2016.04.11</span></div>
		    		</div>
		    		<div className="news-imgb fr">
		            	<a href="details.html"><img src="img/index_11.png" alt="" /></a>
		            </div>
		    	</div>
		    </article>
		    <article className="clearfix">
		    	<div className="news-list container clearfix">
		    		<h1 className="news-h1"><a href="details.html">云南保山福音自愿戒毒中心接待探访</a></h1>
		    		<div className="news-imgc clearfix">
		            	<a href="details.html"><img src="img/index_13.png" alt="" /></a>
		            	<a href="details.html"><img src="img/index_15.png" alt="" /></a>
		            	<a href="details.html"><img src="img/index_17.png" alt="" /></a>
		            </div>
		            <div className="time clearfix"><span>2016.04.11</span></div>
		    	</div>
		    </article>
			<article className="clearfix">
		    	<div className="news-list container clearfix">
		    		<h1 className="news-h1"><a href="details.html">基督徒旅游之济州岛（四）：独特的强兵台军队教会和水上“挪亚方舟”教会</a></h1>
		    		<div className="time clearfix"><span>2016.04.11</span></div>
		    	</div>
		   </article>
	    </div>	
