@charset "utf-8";
/*全局样式*/
a, address, b, big, blockquote, body, center, cite, code, dd, del, div, dl, dt, em, fieldset, font, form, 

h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, label, legend, li, ol, p, pre, small, span, strong, u, 

ul, input , pre ,var textarea,th, td {
	margin: 0;
	padding: 0;
}
input,textarea {
    -webkit-appearance: none !important; /*去掉内阴影  方法2 */
}
/*body, button, input, select, textarea {
	font-family:'SXT',"微软雅黑",Verdana, Arial, Helvetica, sans-serif;
}
@font-face{
	font-family:SXT;
	src:url(STXIHEI.TTF);
}*/
html {
	font-size: 62.5%;
}
body{
    background:#ffffff; width:100%; height:100%;outline: 0;
    font-size: 1.4rem;font-size: 14px;
}
ol, ul , li {
	list-style: outside none none;
}
img{ 
    border:none; display:block;vertical-align:middle;
}
a{ 
    text-decoration:none;blr:expression(this.onFocus=this.blur());
}
a,input,button,*:focus,textarea,select{
    outline:none;
}
table{ 
    border-collapse:collapse;table-layout: fixed;border-spacing: 0;
}
tr th,tr td { 
    word-break: break-all; word-wrap:break-word;
}
.clearfix:after {
    clear: both;content: ".";display: block;height: 0;visibility: hidden;*zoom:1;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
iframe {
	border: none;
}
.fl{ 
    float:left;
}
.fr{ 
    float:right;
}
.container{ 
    width:92%; margin:0 auto;
}
/*首页*/
.headDiv {
	width: 100%;
	max-width: 100%;
	position: fixed;
	z-index: 2;
}
.mhome {
	position: relative;
	max-width: 640px;
	min-width: 300px;
	margin: 0 auto;
}
.head-top {
	background-color: #cc101a;
	padding: 11px 0;
}
.logo {
	width: 41%;
	margin: 0 auto;
}
.logo img {
	width: 100%;
}
.sear-btn {
	width: 6%;
}
.sear-btn img {
	width: 100%;
}
/*nav*/
.swiper-slide {
	text-align: center;
}
.swiper-slide a {
	color: #666666;
	font-size: 18px;
	font-weight: bold;
}
.swiper-slide-active a {
	color: #172949;
}
nav {
	background-color: #f4f5f6;
	border-bottom: 1px solid #dddddd;
}
.news-list {
	padding: 0 4%;
}
.news-listb {
	width: 61.7%;
}
.news-imgb {
	width: 36.2%;
}
.news-imgc {
	margin-left: -1%;
}
.news-imgc img {
	float: left;
	width: 32.3%;
	margin-left: 1%;
}
.news-imga,.news-imgc {
	margin-top: 6px;
}
.sear-btn {
	position: absolute;
	right: 5%;
	top:15px;
    width: 5.5%;
}
.sear-btn img {
	width: 100%;
}
.news-h1 {
	padding-bottom: 4px;
	color: #222222;
	font-size: 17px;
	font-size: 1.7rem;
}
.news-h1 a {
	color: #222222;
	font-size: 17px;
	font-size: 1.7rem;
}
.news-imga img,.news-imgb img  {
	width: 100%;
}
.time {
	margin-top: 6px;
}
.time span {
	color: #999999;
	font-size: 1.0rem;
	font-size: 1.0px;
}
article {
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
}
.myiframe {
	height: auto;
	width: 100%;
}
.main {
	padding-top: 100px;
}
.tag {
	margin-bottom: 10px;
}
.tag span {
	display: inline-block;
	padding: 5px 12px;
	border-radius: 3px;
}
.tag span a {
	color: #FFFFFF;
}
.site-tag span {	
	background-color: #cc0000;	
}
.topic-tag span {
	background-color: #999999;	
}
.district {
	margin-bottom: 0px;
}
.district span {
	background-color: #860910;
	color: #FFFFFF;
	font-weight: bold;	
}
.district-list {
	height: 100%;
	width: 61.6%;
	padding: 0 4%;
	position: fixed;
	background-color: #FFFFFF;
	left: -69.6%;
	bottom: 0px;
	z-index: 3;
	overflow-y: auto;
}
.districtBol {
	position: relative;
	text-align: center;
}
.districtBol i {
	margin-top: 20px;
	display: block;
	width: 100%;
	height: 1px;
	background-color: #b4b3b3;
}
.districtBol span {
	position: absolute;
	top: -8px;
	left: 30%;
	padding: 0 10%;
	display: inline-block;
	background-color: #FFFFFF;
	font-size: 14px;
	color: #666666;
}
.districtUl {
	margin-top: 20px;
}
.districtUl li {
	padding: 10px 0;
	float: left;
	width: 33.3%;
	overflow: hidden;
	white-space:nowrap; 
	color: #FFFFFF;
}
.districtUl li a {
	color: #333333;
	font-size: 14px;
	padding: 6px 8px;
	border-radius: 3px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    overflow: hidden;    
}
.districtUl li.select a {	
	background-color: #cc101a;
	color: #FFFFFF;
}
.districtUl li a:hover,
.districtUl li a:active,
.districtUl li a:focus{
    background-color: #cc101a;
    color: #FFFFFF;
}
.swiper-nav {
	width: 80%;
	padding: 8px 0;	
}
.channel-btn {
	border-left: 1px solid #dddddd;
	width: 7%;
	padding: 9px 5%;
}
.channel-btn img {
	width: 20px;
	height: 20px;
	margin: 0 auto;
}
.channel-title h2 {
	padding: 20px 0 20px 30px;
	height: 20px;
	background: url(../img/index_1_05.png) no-repeat 2% 48%;
	background-size: 13px 20px;
	line-height: 20px;
	font-size: 20px;
	color: #cc0000;
	font-weight: bold;
}
.channel-list h3 {
	color: #999999;
	padding-left: 2%;
	margin-bottom: 15px;
} 
.classify span,.classify div {
	color: #666666;
	padding: 5px 0;
	margin: 0 2% 15px 2%;
	text-align: center;
	float: left;
	display: block;
	width: 20.3%;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
.channel {
	display: none;
	padding: 0 2%;
	position: fixed;
	background-color: #f6f6f6; 
	width: 96%;
	height: 100%;
	left: 0px;
	top: 45px;
}
/*搜索*/
.search {
	display: none;
	padding: 6px 0;
}
.searInut {
	width: 65.7%;
	position: relative;	
}
.searText {
	font-size: 16px;
	font-size: 1.6rem;
	padding-left: 23%;
	padding-right: 3%;
	color: #222223;
	border: none;
	width: 100%;
	border: 1px solid #cccccc;
	border-radius: 20px;
	background-color: #fff;
	height: 34px;
}
.searSub {
	top: 9px;
	left: 8%;
	position: absolute;
	border: none;
	background-image: url(../img/index_35.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 10%;
	height: 50%;
}
.cancel {
	display: block;
	color: #999999;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 34px;
}
/*文章详情页*/
.headline {
	padding-bottom: 5px;
}
.headline h1 {
	font-size: 22px;
	font-size: 2.2rem;
	color: #222222;
	font-weight: bold;
}
.data {
	padding-top: 10px;
}
.data span {
	padding-right: 5%;
	font-size: 14px;
	font-size: 1.4rem;
    color: #999999;
}
.article img {
	padding-top: 20px;
	width: 100%;
	max-width: 100%;
}
.article p {
	padding-top: 25px;
	font-size: 18px;
	font-size: 1.8rem;
	color: #333333;
}
.artImg img {
	width: 100%;
	max-width: 100%;
}
.artImg i {
	display: block;
	padding-top: 10px;
	font-size: 14px;
	font-size: 1.4rem;
	color: #666666;
}
.comment {
	margin-top: 30px;
}
.com-h1 i {
	float: left;
	width: 7px;
	height: 30px;
	margin-top: 6px;
	background-color: #022879;
}
.com-h1 h1 {
	float: left;
	padding-left: 20px;
	color: #333333;
	font-size: 28px;
	font-size: 2.8rem;
	font-weight: bold;	
    /*border-left: 7px solid #022879;*/
}
.head {
	width: 12%;
	padding-right: 3%;
	margin-top: 3px;
}
.head img {
	border-radius: 100%;
	width: 100%;
	height: 100%;
}
.comment-count {
	width: 85%;
}
.name-one {
	font-size: 14px;
	font-size: 1.4rem;
	color: #999999;
}
.name-one span {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
}
.use-ly {
	font-size: 12px;
	font-size: 1.2rem;
}
.use-ly span {
	display: block;
	float: left;
	padding-right: 5px;
	line-height: 21px;
}
.use-ly img {
	float: left;
	width: 30%;
}
.liuyan img {
	margin-top: 4px;
}
.message-one p,.message-two p {
	color: #333333;
	font-size: 16px;
	font-size: 1.6rem;
}
.name-two {
    color: #bcbcbc;
}
.message-two {
	padding-left: 5%;
	padding-top: 15px;
}
.com-pl {
	padding: 20px 0;
	border-bottom: 1px solid #efefef;
}
.moreBtn {
	padding: 15px 0;
	text-align: center;
}
.moreBtn a {
	color: #406599;
	font-size: 18px;
	font-size: 1.8rem;
}
.moreBtn a span {
	font-size: 12px;
	font-size: 1.2rem;
	padding-left: 5px;
}
.red-h i {
	background-color: #d83434;
}
.discuss {
	display: block;
	width: 100%;
	border-top: 1px solid #dddddd;
	background-color: #f4f5f6;
	padding: 5px 0;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
.disInput {
	width: 80%;
}
.disInput textarea {
	color: #999999;
	font-size: 16px;
	font-size: 1.6rem;
	padding: 6px 3%;
	margin-top: 4px;
	width: 100%;
	border: 1px solid #cccccc;
	background-color: #fff;
	border-radius: 20px;
	resize: none;
	height: 22px;
}
.disInput-le {
	width: 92%;
}
.share {
	margin-top: 60px;
	margin-bottom: 30px;
}
.shaLine {
	position: relative;
	padding-bottom: 23px;
}
.shaLine i {
	display: block;
	width: 100%;
	height: 2px;
	background-color: #eee;
}
.shaLine span {
	font-size: 18px;
	font-size: 1.8rem;
	position: absolute;
	left: 41%;
	margin-top:-15px;
	background-color: #fff;
	text-align: center;
    color: #bababa;
}
.sha-fx {
	width: 25%;
	float: left;
}
.sha-fx a {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	display: block;
	margin: 0 auto;
}
.sha-fx span {
	padding-top: 10px;
	display: block;
	text-align: center;
	color: #999999;
	font-size: 14px;
	font-size: 1.4rem;
}
.com-h1 {
	padding-bottom: 10px;
}
.sentBtn {
	float: right;
	color: #fff;
	font-size: 13px;
	font-size: 1.3rem;
	padding: 2px 10px;
	background-color: #b5b5b5;
	border-radius: 5px;
}

/*返回顶部*/
.topBtn {
	display: none;
	width: 18%;
	position: fixed;
	bottom: 55px;
	right: 8px;
}
.topBtn img {
	opacity: 0.9;
	padding-bottom: 15px;
	width: 80%;
}
/*article*/
.fabu {
	display: none;
	bottom: 0px;
	position: fixed;
	padding: 10px 4%;
	width: 92%;
	background-color: #f1f1f1;
}
.fabu-btn {
	padding-bottom: 10px;
}
.fabu-btn a {
	color: #666666;
	font-size: 20px;
}
.fabu-nr {
	width: 100%;
	height: 150px;
	font-size: 16px;
	border: none;
	background-color: #f1f1f1;
	resize: none;
}
/*登录*/
.main-img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	z-index: -1;
}
.main-img img {
	width: 100%;
	height: 100%;
}
.mainLogin {
	background: url(../img/index_36.png) no-repeat center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;	
}
.mainbg {
	padding-top: 17%;
}
.logoA {
	margin: 0 auto;
	width: 60%;
}
.logoA img {
	width: 100%;
}
.login h3 {
	padding-top: 25px;
	padding-bottom: 10px;
	text-align: center;
	color: #ffffff;
	font-size: 20px;
	font-size: 2.0rem;
}
.login ul li {
	margin: 16px auto;
	width: 20%;
}
.login ul li img {
    width: 100%;	
}
.return {
	width: 6.6%;
	position: absolute;
	right: 20px;
	top: 20px;
}
.return img {
	width: 100%;
}
.comment-jc {
	padding-bottom: 60px;
}
/*专题*/
.imgaZt {
	padding-bottom: 10px;
}
.introZt {
	padding-top: 10px;
	color: #333333;
	line-height: 20px;
	font-size: 13px;
}
.introZt a {
	padding-left: 8px;
	color: #999999;
	font-size: 12px;
}
.new-tag {
	margin-top: 6px;
}
.new-tag span {
	border: 1px solid #cc0000;
	color: #cc0000;
}
/*图片详情页*/
.pnav{margin-top:30px;text-align:center;line-height:24px; font-size:16px}
.pnav a{padding:4px}
.pnav a.cur{background:#007bc4;color:#fff;}
.demo{width:80%; margin:10px auto}

/*必要样式*/
.my-gallery {
	padding: 5px 4% 0 4%;
	margin-top: 10px;
	border-top: 1px solid #f0f0f0;
    width: 92%;
    float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 10px 0 10px 0;
}
.my-gallery figcaption {
  padding-top: 10px;
  color: #222222;
  font-size: 17px;
  font-size: 1.7rem;
}
/*遮罩层*/
.mask {
	z-index: 2;
	display: none;
	background: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}
.shareDiv {
	bottom: -350px;
	position: fixed;
	padding: 20px 0;
	width: 100%;
	background-color: #FFFFFF;
	z-index: 3;
}
.shareDiv ul li {
	float: left;
	width: 33.3%;
}
.fx {
	text-align: center;
	padding-bottom: 22px;
}
.fx a {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	display: block;
}
.fx span {
	display: block;
	padding-top: 6px;
	color: #666666;
}
.cancelBtn a {
	background-image: url(../img/details_18.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 28px;
	height: 28px;
	display: block;
	margin: 0 auto;
}
/*导航*/
.ui-navigator {
    background:#f4f5f6;
}
.nav-smartSetup  {
	width: 82%;
}
.ui-navigator .ui-navigator-list li a, .ui-navigator .ui-navigator-fix{
    padding: 0.6em 15px;
    font-size: 16px;
    color: #505050;
    text-decoration: none;
    outline: none;
    text-align: center;
    font-weight: normal;
}

.ui-navigator .ui-navigator-list li a.cur, .ui-navigator .ui-navigator-fix.cur{
   color: #cc101a;
   font-weight: bold;
}
